
{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

<body>


    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{path('app_home')}}">Home</a></li>
            <li class="active">About</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-sm-9 maincontent">
                <header class="page-header">
                    <h1 class="page-title">About</h1>
                </header>
                <section></section>

         
            <!-- /Sidebar -->

        </div>
    </div> <!-- /container -->

    
    {% endblock %}