<footer id="footer" class="top-space">

	<div class="footer1">
		<div class="container">
			<div class="row">

				<div class="col-md-3 widget">
					<h3 class="widget-title">Contact</h3>
					<div class="widget-body">
						<p>00216 288 299 79<br>
							<a href="mailto:#">contact@solixy.com</a><br>
							<br>
							Avenue de la république - Immeuble Al Ahram 4ème étage
Gabes - Tunisie
						</p>
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Suivez-moi</h3>
					<div class="widget-body">
						<p class="follow-me-icons clearfix">
							<a href="https://www.instagram.com/matoui_99/?hl=fr">
								<i class="fa fa-instagram fa-2"></i>
							</a>
							<a href="https://www.solixy.com/">
								<i class="fa fa-dribbble fa-2"></i>
							</a>
							<a href="https://github.com/ghassen09">
								<i class="fa fa-github fa-2"></i>
							</a>
							<a href="https://www.facebook.com/profile.php?id=100012896109416">
								<i class="fa fa-facebook fa-2"></i>
							</a>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					
					<div class="widget-body">
						<p>Les tendances actuelles du Web, de l'évolution technologique et de l'évolution sociale, représentent des avancées dans son utilisation. Les sites de réseaux sociaux, également appelés « social networking », sont des exemples de ces développements sociaux. Ils peuvent mettre en relation des internautes selon leurs centres d'intérêts pour partager un flux d'informations, élargir leur réseau d'amis ou faire partie d'une communauté. Ces exemples montrent la gravité de ce phénomène, que ce soit à des fins de loisirs ou professionnelles..</p>
					</div>
				</div>

			</div>
			<!-- /row of widgets -->
		</div>
	</div>

	<div class="footer2">
		<div class="container">
			<div class="row">

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="simplenav">
							<a href="{{path('app_home')}}">Acceuil</a>
							|
							<a href="{{path('app_about')}}">A propos</a>
							|
							<a href="{{path('app_contact')}}">Contact</a>
							|
							<b>
								<a href="{{path('app_login')}}">Se connecter</a>
							</b>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="text-right">
							Copyright &copy; 2022, Chamakh Ghassen
						
						</p>
					</div>
				</div>

			</div>
			<!-- /row of widgets -->
		</div>
	</div>
</footer>