<footer id="footer" class="top-space">

	<div class="footer1">
		<div class="container">
			<div class="row">

				<div class="col-md-3 widget">
					<h3 class="widget-title">Contact</h3>
					<div class="widget-body">
						<p>00216 288 299 79<br>
							<a href="mailto:#">contact@solixy.com</a><br>
							<br>
							Avenue de la république - Immeuble Al Ahram 4ème étage
Gabes - Tunisie
						</p>
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Follow me</h3>
					<div class="widget-body">
						<p class="follow-me-icons clearfix">
							<a href="https://www.instagram.com/matoui_99/?hl=fr">
								<i class="fa fa-instagram fa-2"></i>
							</a>
							<a href="https://www.solixy.com/">
								<i class="fa fa-dribbble fa-2"></i>
							</a>
							<a href="https://github.com/ghassen09">
								<i class="fa fa-github fa-2"></i>
							</a>
							<a href="https://www.facebook.com/profile.php?id=100012896109416">
								<i class="fa fa-facebook fa-2"></i>
							</a>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					
					<div class="widget-body">
						<p>La tendance actuelle du web, dans l'évolution technologique comme dans l'évolution sociale 
représente une avancée dans ses utilisations. 
Illustré par le terme "Web 2.0", les sites de réseaux sociaux, aussi appelés "social networking", sont
des exemples parmi ces évolutions sociales.</p>
<p>Ainsi l'objectif est de développer un site Internet de réseau social pour les loisirs des internautes, en 
mettant à leurs dispositions des outils de base pour échanger des informations, des idées, et partager
des centres d'intérêts</p>
					</div>
				</div>

			</div>
			<!-- /row of widgets -->
		</div>
	</div>

	<div class="footer2">
		<div class="container">
			<div class="row">

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="simplenav">
							<a href="{{path('app_home')}}">Home</a>
							|
							<a href="{{path('app_about')}}">About</a>
							|
							<a href="{{path('app_contact')}}">Contact</a>
							|
							<b>
								<a href="{{path('app_login')}}">Sign up</a>
							</b>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="text-right">
							Copyright &copy; 2022, Chamakh Ghassen
						
						</p>
					</div>
				</div>

			</div>
			<!-- /row of widgets -->
		</div>
	</div>
</footer>