<footer id="footer" class="top-space">

	<div class="footer1">
		<div class="container">
			<div class="row">

				<div class="col-md-3 widget">
					<h3 class="widget-title">Contact</h3>
					<div class="widget-body">
						<p>00216 288 299 79<br>
							<a href="mailto:#">contact@solixy.com</a><br>
							<br>
							Avenue de la république - Immeuble Al Ahram 4ème étage
Gabes - Tunisie
						</p>
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Follow me</h3>
					<div class="widget-body">
						<p class="follow-me-icons clearfix">
							<a href="https://www.instagram.com/matoui_99/?hl=fr">
								<i class="fa fa-instagram fa-2"></i>
							</a>
							<a href="https://www.solixy.com/">
								<i class="fa fa-dribbble fa-2"></i>
							</a>
							<a href="https://github.com/ghassen09">
								<i class="fa fa-github fa-2"></i>
							</a>
							<a href="https://www.facebook.com/profile.php?id=100012896109416">
								<i class="fa fa-facebook fa-2"></i>
							</a>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					
					<div class="widget-body">
						<p>The current trend of the web, in technological evolution as well as in social evolution, represents an advance in its uses. Illustrated by the term "Web 2.0", social networking sites, also called "social networking", are examples of these social developments.</p><p>

This the objective is to develop a social network website for the leisure of Internet users, by providing them with basic tools to exchange information, ideas, and share centers of interest.</p>
					</div>
				</div>

			</div>
			<!-- /row of widgets -->
		</div>
	</div>

	<div class="footer2">
		<div class="container">
			<div class="row">

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="simplenav">
							<a href="{{path('app_home')}}">Home</a>
							|
							<a href="{{path('app_about')}}">About</a>
							|
							<a href="{{path('app_contact')}}">Contact</a>
							|
							<b>
								<a href="{{path('app_login')}}">Sign up</a>
							</b>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="text-right">
							Copyright &copy; 2022, Chamakh Ghassen
						
						</p>
					</div>
				</div>

			</div>
			<!-- /row of widgets -->
		</div>
	</div>
</footer>